<div class="col-sm-12">
	<h3>Sections</h3>
	<table ng-show="template.sections.length > 0"class="table table-bordered table-striped table-condensed table-hover table-responsive">
		<thead>
			<th>Name</th>
			<th>Order</th>
			<th>Last Updated</th>
		</thead>
		<tbody>
			<tr ng-repeat="section in template.sections">
				<td>{{section.name}}</td>
				<td>{{section.order}}</td>
				<td><span am-time-ago="section.updated_at"></span></td>
			</tr>
		</tbody>
	</table>
	<div ng-hide="template.sections.length >0">
		<h5>No Sections Have Been Added Yet</h5>
	</div>
</div>
<div class="col-md-4">
	<p class="input-group">
		<input type="text" class="form-control" placeholder="Section Name" ng-model="templates.newSectionName">
		<span class="input-group-btn">
			<button class="btn btn-success" ng-click="templates.addSection(template, templates.newSectionName)">Add New</button>	
		</span>
	</p>
</div>
