<navbar></navbar>
<div class="login-body-wrapper">
  <div class="container">
    <div class="row">
      <div class="login-container col-sm-12 col-sm-offset-0 col-md-6 col-md-offset-2 col-lg-4 col-lg-offset-4">
        <h2>Member Login</h2>
        <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

          <div class="form-group input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
            <input class="form-control" name="email" type="email" placeholder="johndoe@wellness.com" ng-model="vm.user.email" required>
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input type="password" id="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" name="password" class="form-control password" ng-model="vm.user.password" required>
          </div>

          <div style="text-align: right;">
            <a class="forgot-pw-link" href="" >Forgot Password?</a>
          </div>

          <div class="form-group has-error">
            <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
               Please enter your email and password.
            </p>
            <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
               Please enter a valid email.
            </p>

            <p class="help-block">{{ vm.errors.other }}</p>
          </div>

          <div style="text-align: center;">
            <button class="btn btn-lg btn-login" type="submit">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
    </div>    
  </div>
</div>
