<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<img alt="Seasons Wellness" class="footer-logo">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 footer-nav">
			<a href="#" ui-sref="login">Home</a>
			<a href="#" ui-sref="about">About</a>
			<a href="#" ui-sref="dashboard">Plans</a>
			<a href="#" ui-sref="profile">My Account</a>
			<a href="#" ui-sref="tutorial">Tutorial</a>
			<a href="#" ui-sref="contact">Contact</a>
			<a href="#" ui-sref="login">Sitemap</a>
			<a href="#" ui-sref="login">Privacy Policy</a>
		</div>
	</div>
  <p class="copyright">&copy; <a target="_blank" href="http://www.seasonswellness.com/">Seasons</a> 2015. All Rights Reserved.</p>
</div>
