<navbar></navbar>
<div class="content-wrapper">
	<div class="container content">
		<div class="row">
			<div class="col-sm-12" style="padding: 0 50px;">
				<div class="page-header">
					<h1>{{vm.pageTitle}}</h1>
				</div>
			</div>
		</div>
		<div class="row" id="template-edit-wrapper" ng-model="vm.template">
			<div class="sidebar">
				<ul ui-sortable ng-model="vm.template.sections">
					<li ng-repeat="section in vm.template.sections">
						<a href="#" ng-class="{active : vm.currentSection === section}" ng-click="vm.currentSection = section">{{section.title}}</a>
					</li>
				</ul>
			</div>
			<div class="body">
				<div class="section-body">
					<div class="section-editor">
						<form class="plan-form form-inline">
							<div class="col-sm-12">
								<text-angular ng-model="vm.currentSection.intro"></text-angular>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<label for="sectionOrder">Order: </label>
									<input class="form-control" style="width: 60px;" id="sectionOrder" type="number" ng-model="vm.currentSection.order"></input>
								</div>
								<div class="form-group">
									<label for="sectionHasExtras">Has Extras: </label>
									<input class="form-control" style="width: 40px;" id="sectionHasExtras" type="checkbox" ng-model="vm.currentSection.has_extras"></input>
								</div>
								<div class="form-group">
									<label for="sectionIsEditable">Is Editable: </label>
									<input class="form-control" style="width: 40px;" id="sectionIsEditable" type="checkbox" ng-model="vm.currentSection.is_editable"></input>
								</div>
								<div class="form-group">
									<label for="sectionIsActive">Is Active: </label>
									<input class="form-control" style="width: 40px;" id="sectionIsActive" type="checkbox" ng-model="vm.currentSection.is_active"></input>
								</div>
								<a href="#" class="btn btn-success pull-right" ng-click="vm.updateSection()">Save Section</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<footer></footer>
		</div>
	</div>
</div>
