<navbar></navbar>
<div class="content-wrapper" >
  <div class="container content">
    <div class="row">
      <div class="col-sm-12" style="padding: 0 50px;">
        <div class="page-header">
          <button ng-show="template.version" class="btn btn-info pull-right" ng-click="vm.viewAll()">View All</button>
          <h1>{{pageTitle}}</h1>
          <span class="subheader" ng-show="template.version">v {{template.version | number:1}}</span>
        </div>      
      </div>
    </div>
    <div class="row" ng-show="template.version">
      <div class="col-sm-12">
        <pdf-template></pdf-template>
      </div>
    </div>
    <div class="row" ng-hide="template.version">
      <div class="col-sm-12">
				<table class="table table-bordered table-striped table-condensed table-hover table-responsive">
            <thead>
              <th>Version</th>
              <th>Author</th>
              <th>Last Updated</th>
              <th colspan="4">Options</th>
            </thead>
            <tbody>
              <tr ng-repeat="template in vm.templates">
                <td><a ui-sref="template({id: template._id})">{{template.version | number: 1}}</a></td>
                <td>{{template.author}}</td>
                <td><span am-time-ago="template.updated_at"></span></td>
                <td><i class="fa fa-trash trash" ng-click="vm.deleteTemplate(template)"></i> Delete</td>
              </tr>
            </tbody>
          </table>
      </div>

      <div class="col-sm-12">
        <form class="plan-form">
          <p class="input-group">
            <input type="text" class="form-control" placeholder="New Version Number" ng-model="vm.newTemplateVersion">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" ng-click="vm.addTemplate()">Add New</button>
            </span>
          </p>
        </form>
      </div>
    </div>
    <div class="row">
      <footer></footer>
    </div>
  </div>
</div>