<navbar></navbar>
<div class="content-wrapper" >
  <div class="container content">
    <div class="row">
      <div class="col-sm-12" style="padding: 0 50px;">
        <div class="page-header">
          <h1>{{vm.pageTitle}}</h1>
        </div>      
      </div>
    </div>
    <div class="row" id="wrapper" ng-model="vm.template">
      <div class="sidebar">
        <ul ui-sortable ng-model="vm.template.sections">
          <li ng-repeat="section in vm.template.sections">
            <a href="#" ng-class="{active : vm.currentSection === section}" ng-click="vm.currentSection = section">{{section.title}}</a>
          </li>
        </ul>
      </div>
      <div class="body">
        <div class="section-body">
        	<div class="col-sm-12" style="margin-bottom: 20px; border-bottom: 2px solid #444;">
        		<h4 class="section-name pull-left">{{vm.currentSection.title}}</h4>
            <form class="plan-form hidden">
              <p class="input-group">
                <input type="text" class="form-control" ng-model="vm.currentSection.title">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary" ng-click="vm.updateSection()">Rename</button>
                </span>
              </p>
            </form>
          	<a href="#" class="btn btn-info pull-right" ng-show="vm.currentSection && !vm.editing" ng-click="vm.editing=true">Edit Section</a>
          	<a href="#" class="btn btn-info pull-right" ng-show="vm.editing && vm.currentSection" ng-click="vm.editing=false">Preview Section</a>
        	</div>
          <div class="clearfix"></div>
        	<div class="section-preview" ng-hide="vm.editing">
        		<div ng-bind-html="vm.currentSection.html"></div>
        	</div>
          <div class="section-editor" ng-show="vm.editing">
          	<text-angular ng-model="vm.currentSection.html"></text-angular>
          	<input style="width: 40px; margin-right: 20px;" type="number" ng-model="vm.currentSection.order"></input><a href="#" class="btn btn-success" ng-click="vm.updateSection()">Update</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <footer></footer>
    </div>
  </div>
</div>