<navbar></navbar>
<div class="content-wrapper" >
  <div class="container content">
    <div class="row">
      <div class="col-sm-12" style="padding: 0 50px;">
        <div class="page-header">
          <button ng-show="plan.patient" class="btn btn-info pull-right" ng-click="dashboard.viewAllPlans()">View All</button>
          <h1>{{pageTitle}}</h1>
          <span class="subheader" ng-show="plan.patient">{{plan.patient.name.first}} {{plan.patient.name.last}}'s Wellness Plan</span>
        </div>      
      </div>
    </div>
    <div class="row patient-info" ng-show="plan.patient">
      <div class="col-md-4 ">
        <h3>Patient Info</h3>
        <span class="patient-info">Name: {{plan.patient.name.first}}  {{plan.patient.name.last}}</span> <br>
        <span class="patient-info">Date Of Birth: {{plan.patient.dob}}</span>
        <hr>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-success" ng-show="!viewing" ng-click="viewing=true">View Plan</button>
        <button class="btn btn-warning" ng-show="viewing" ng-click="viewing=false">Edit Plan</button>
        <button class="btn btn-warning" ng-show="viewing" ng-click="dashboard.exportPlan(plan)">Export Plan</button>

        <h5>Using Template Version: {{template.version}}</h5>
      </div>
    </div>
    <div class="row" id="wrapper" ng-show="plan.patient && !viewing">
      <div class="sidebar">
        <ul>
          <li ng-repeat="section in template.sections">
            <a href="#">{{section.name}}</a>
          </li>
        </ul>
      </div>
      <div class="body">
        <div class="plan-page">
          
        </div>
      </div>
    </div>
    <div class="row" id="plan-preview-wrapper" ng-show="viewing">
      <iframe class="plan-preview" type="application/pdf" width="400" height="600" frameborder="0"></iframe>
    </div>
    <div class="row" id="plan-wrapper" ng-show="viewing">
      <div ng-repeat="section in template.sections">
        <!-- <img ng-if="section.cover_page != ''" class="plan-page plan-cover-page" ng-src="../assets/images/{{section.cover_page}}"> -->

        <div class="plan-page" ng-bind-html="section.html"></div>
      </div>  
      
    </div>
    <div class="row" ng-hide="plan.patient">
      <div class="col-sm-12" ng-show="dashboard.myPlans.length > 0">
        <table class="table table-bordered table-striped table-condensed table-hover table-responsive">
            <thead>
              <th>Patient Name</th>
              <th>Date Of Birth</th>
              <th>Created</th>
              <th colspan="3">Options</th>
            </thead>
            <tbody>
              <tr ng-repeat="plan in dashboard.myPlans">
                <td><a href="#" ng-click="dashboard.editPlan(plan)">{{plan.patient.name.last}}, {{plan.patient.name.first}}</a></td>
                <td>{{plan.patient.dob}}</td>
                <td><span am-time-ago="plan.created_at"></span></td>
                <td style="text-align: center;"><i class="fa fa-trash trash" ng-click="dashboard.deletePlan(plan)"></i></td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-sm-12" ng-hide="dashboard.myPlans.length > 0">
        <h5 style="text-align: center;">You have not created any plans.</h5>
        <h5 style="text-align: center;">Enter a patient's details below to create your first plan!</h5>
      </div>
    </div>
    <div class="row" ng-hide="plan.patient">
      <div class="col-sm-12 col-md-6">
        <div class="row">
          <form class="plan-form" name="planForm" ng-submit="dashboard.addPlan(planForm)" novalidate>
            <div class="form-group col-sm-4" ng-class="planForm.firstname.$error.required && dashboard.submitted ? 'has-error' : ''">
              <input type="text" class="form-control" name="firstname" placeholder="First Name" ng-model="dashboard.newPlan.firstname"  required>
            </div>
            <div class="form-group col-sm-4" ng-class="planForm.lastname.$error.required && dashboard.submitted ? 'has-error' : ''">
              <input type="text" class="form-control" name="lastname" placeholder="Last Name" ng-model="dashboard.newPlan.lastname"  required>
            </div>
            <div class="form-group col-sm-4" ng-class="planForm.dob.$error.required && dashboard.submitted ? 'has-error' : ''" required>
              <input type="text" class="form-control" name="dob" placeholder="DOB" ng-model="dashboard.newPlan.dob" required>
            </div>
            <div class="form-group col-sm-12">
              <textarea class="form-control" placeholder="Notes" ng-model="dashboard.newPlan.notes"></textarea>
            </div>

            <div class="form-group has-error">
              <div class="col-sm-12">
                <p class="help-block" ng-show="planForm.firstname.$error.required && dashboard.submitted">
                   Please enter a first name
                </p>
                <p class="help-block" ng-show="planForm.lastname.$error.required && dashboard.submitted">
                   Please enter a last name
                </p>
                <p class="help-block" ng-show="planForm.dob.$error.required && dashboard.submitted">
                   Please enter a date of birth
                </p>

                <p class="help-block">{{ dashboard.errors.other }}</p>
              </div>
            </div>
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary">Add New</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <footer></footer>
    </div>
  </div>
</div>