<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">My Plans:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="plan in main.myPlans">
        <li><a href="#" tooltip="{{plan.info}}">{{plan.name}}<button type="button" class="close" ng-click="main.deletePlan(plan)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="plan-form">
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Patient Name" ng-model="main.newPlan">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="main.addPlan()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer></footer>