.thing-form {
	margin: 20px 0;
}

.cde {
	color: black !important;
}

#banner {
	border-bottom: none;
	margin-top: -20px;
}

#banner h1 {
	font-size: 60px;
	line-height: 1;
	letter-spacing: -1px;
}

.hero-unit {
	background: #4393B9;
	color: @F5_;
	padding: 30px 15px;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.navbar-text {
	margin-left: 15px;
}

.page-header {
	/*margin-bottom: 0;*/
	h1 {
		color: @seasons_green;
		text-transform: uppercase;
		margin-bottom: 0;
		border: none;
	}
}

.highlight-title {
	display: block;
	width: 100%;
	padding: 6px;
	background: @seasons_green;
	color: white;
	text-transform: uppercase;
	font-size: 1.4em;
	text-align: center;
	margin-top: 4px;
}

.green-list {
	color: @seasons_green;
	font-size: 1.1em;
	margin-top: 1em;
	text-transform: uppercase;

	li {
		margin-top: 2px;
	}
}

.about-us-image {
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}

td i.fa {
	cursor: pointer;
}

.about .col-md-8 p:last-child {
	margin-bottom: 2em;
}
