// #plan-print-wrapper {
//   //pages for printing
//   background: #fff;
//   display: none;
//   .plan-page {
//     background: #fff;;
//   }
// }


#plan-wrapper {
  margin: 0 auto;
  width: 8.5in;
  position: relative;
  height: 11in;
  .plan-page {
    position: absolute;
    height: 9.75in;
    width: 8in;
    background: #fff;
    margin: 0 auto;
    padding: .5in;
    padding-top: 0.7in;
    box-shadow: 0px 0px 9px -1px #999;
    opacity: 0;
    margin-bottom: 50px;
    &:before {
        position: absolute;
        background: #43ab4c;
        background: rgba(67, 171, 76, 0.4);
        height: 30px;
        width: 100px;
        left: 30px;
        top: 30px;
        content: '';
      }
    &:after {
        position: absolute;
        background: #43ab4c;
        background: rgba(67, 171, 76, 0.4);
        height: 30px;
        left: 30px;
        right: 30px;
        bottom: 30px;
        content: '';
      }
     h2 {
        margin-top: 0;
        color: @seasons_green !important;
        font-weight: 300;
      }
  }
}
#plan-edit-wrapper {
  position: relative;
  height: 595px;
  .sidebar {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: @seasons_green;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    ul {
      list-style: none;
      padding: 0;
      li {
        line-height: 28px;
        text-indent: 20px;
        a {
          color: #fff;
          text-decoration: none;
          display: block;
        }
        a:hover {
          background: @seasons_light_green;
          color: #333;
        }
        a.active {
          background: @seasons_light_green;
          color: #333;
        }
      }
    }
  }
  .body {
    width: 100%;
    position: absolute;
    padding: 15px;
    // editing pages
    .plan-page {

    }
  }
}

// #plan-preview-wrapper {
//   .plan-preview {
//     display: none;
//     margin: 0 auto;
//   }
// }

@media (min-width: 768px) {
  #plan-edit-wrapper {
    padding-left: 250px;
    .sidebar {
      width: 250px;
    }
    .body {
      padding: 20px;
      position: relative;
    }
  }
}

@media print {

  header, .row.page-title, .row.patient-info, .row.footer-wrapper, .controls {
    display: none;
  }

  a, a:visited { text-decoration: none; }

  a[href]:after { content: " (" attr(href) ")";}

  abbr[title]:after { content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }

  // Hides default date and site name ( in chrome ).
  @page { margin: 0; size: auto; }

  .content-wrapper:before {
    background: transparent !important;
  }

  #plan-wrapper {
    max-height: none;
    height: auto;
    overflow-y: inherit;
    .plan-page {
      font-size: 1.1em;
      page-break-after: always;
      margin-bottom: 0;
      opacity: 1 !important;
      position: relative;
      padding: .5in;
      padding-top: 0.7in;

      &:before {
        position: absolute;
        background: #43ab4c;
        background: rgba(67, 171, 76, 0.4);
        height: 30px;
        width: 100px;
        left: 0;
        top: 30px;
        content: '';
      }

      &:after {
        position: absolute;
        background: #43ab4c;
        background: rgba(67, 171, 76, 0.4);
        height: 30px;
        left: 0;
        right: 0;
        bottom: -100px;
        content: '';
      }
    }
  }
}

subtext {
    font-size: 0.6em;
    color: #888;

  }
