<div class="row" id="plan-wrapper" ng-show="vm.viewing">
  <div class="section-wrapper" ng-repeat="section in vm.templateSections | orderBy:'order'">
    <div class="plan-page">
      <div class="plan-page-body">
        <h2 class="plan-page-title" ng-bind-html="section.title"></h2>
        <div class="plan-page-content" ng-bind-html="section.html"></div>
      </div>
    </div>
  </div>
  <div class="controls" style="margin: 0 auto 30px auto; text-align: center;"> <a href="" ng-click="previousPage()">Prev</a> | <a href="" ng-click="nextPage()">Next</a></div>
</div><!-- End Plan View Wrapper -->
