<navbar></navbar>

<div class="content-wrapper">
  <div class="container content">
    <div class="row page-title">
      <div class="col-sm-12" style="padding: 0 50px;">
        <div class="page-header">
          <h1>{{vm.pageTitle}}</h1>
          <span class="subheader" ng-show="vm.plan.patient">{{vm.plan.patient.name.first}} {{vm.plan.patient.name.last}}'s Wellness Plan</span>
        </div>
      </div>
    </div><!-- .page-title -->

    <div class="row patient-info" ng-show="!vm.plan.patient">
      <div class="col-md-4 ">
        <h3>Patient Info</h3>
        <span class="patient-info">Name: {{vm.plan.patient.name.first}}  {{vm.plan.patient.name.last}}</span> <br>
        <span class="patient-info">Date Of Birth: {{vm.plan.patient.dob}}</span>
        <hr>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-lg btn-seasons" ng-show="!vm.viewing" ng-click="vm.viewing=true">View Plan</button>
        <button class="btn btn-lg btn-seasons" ng-show="vm.viewing" ng-click="vm.viewing=false">Edit Plan</button>
        <button class="btn btn-lg btn-seasons" onclick="window.print()">Print</button>

      </div>
    </div>  <!-- End Patient Info -->

    <div class="row" id="plan-wrapper" ng-show="vm.viewing">
      <div class="controls" style="margin: 0 auto 30px auto; text-align: center;"> <a href="" ng-click="vm.previousPage()">Prev</a> | <a href="" ng-click="vm.nextPage()">Next</a></div>
      <div class="section-wrapper" ng-repeat="section in vm.templateSections | orderBy:'order'">

          <div class="plan-page" ng-if="section.planSection">
            <div class="plan-page-body">
              <h2 class="plan-page-title" ng-bind-html="section.title"></h2>
              <div class="plan-page-content" ng-bind-html="section.planSection.html"></div>
            </div>
          </div>

          <div class="plan-page" ng-if="!section.planSection">
            <div class="plan-page-body">
              <h2 class="plan-page-title" ng-bind-html="section.title"></h2>
              <div class="plan-page-content" ng-bind-html="section.html"></div>
            </div>
          </div>

      </div>
    </div><!-- End Plan View Wrapper -->
    <plan-preview ng-show="vm.viewing"></plan-preview>


    <div class="row" id="plan-edit-wrapper" ng-show="vm.plan.patient && !vm.viewing">
      <div class="sidebar">
        <ul>
          <li ng-repeat="section in vm.templateSections | orderBy:'order'">
            <a href="#" ng-class="{active : vm.templateSection === section}" ng-click="vm.setSection(section)">{{section.title}}</a>
          </li>
        </ul>
      </div>
      <div class="body">
        <section-editor ng-show="vm.templateSection" data-section="vm.templateSection.planSection" data-ctrl="vm"></section-editor>
        <div class="container-fluid">
          <div class="panel panel-seasons" ng-show="!vm.templateSection.is_editable && !vm.templateSection.has_extras && vm.templateSection.title != 'Compounding Pharmacy List' && vm.templateSection.title != 'Supplement Store' && vm.templateSection.title != 'Social Media' && vm.templateSection.html != '' && vm.templateSection.title != 'Front' ">
            <div class="panel-heading">This Section Is Not Editable</div>
            <div class="panel-body" ng-bind-html="vm.templateSection.html"></div>
          </div>

          <div class="col-lg-8 col-lg-offset-2" ng-if="vm.templateSection.title == 'Front'">
            <img ng-src="{{vm.user.cover_image_url}}" class="img-responsive" alt="Plan Cover">
          </div>


          <div ng-show="vm.templateSection.title == 'Compounding Pharmacy List'" class="panel" ng-class="vm.user.pharmacies.length > 0 ? 'panel-seasons' : 'panel-warning'">

            <div class="panel-heading" ng-show="vm.user.pharmacies.length < 1">Uh Oh!</div>
            <div class="panel-body" ng-show="vm.user.pharmacies.length < 1">You have not added any items for section yet.  Please visit the <a ui-sref="profile">My Profile</a> page to add these items.</div>

            <div class="panel-heading">Your Compounding Pharmacy List</div>
            <div class="panel-body" ng-show="vm.user.pharmacies.length > 0">
              <table class="table table-bordered table-hover table-responsive table-condensed">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Fax</th>
                    <th>Email</th>
                    <th>Contact</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="pharmacy in vm.user.pharmacies">
                    <td>{{pharmacy.name}}</td>
                    <td>{{pharmacy.phone}}</td>
                    <td>{{pharmacy.fax}}</td>
                    <td>{{pharmacy.email}}</td>
                    <td>{{pharmacy.contact}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div ng-show="vm.templateSection.title == 'Supplement Store'" class="panel" ng-class="vm.user.stores.length > 0 ? 'panel-seasons' : 'panel-warning'">

            <div class="panel-heading" ng-show="vm.user.stores.length < 1">Uh Oh!</div>
            <div class="panel-body" ng-show="vm.user.stores.length < 1">You have not added any items for section yet.  Please visit the <a ui-sref="profile">My Profile</a> page to add these items.</div>

            <div class="panel-heading" ng-show="vm.user.stores.length > 0">Supplement Stores</div>
            <div class="panel-body" ng-show="vm.user.stores.length > 0">
              <table class="table table-bordered table-hover table-responsive table-condensed">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>URL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="store in vm.user.stores">
                    <td>{{store.name}}</td>
                    <td>{{store.url}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div ng-show="vm.templateSection.title == 'Social Media'" class="panel" ng-class="vm.user.networks.length > 0 ? 'panel-seasons' : 'panel-warning'">

            <div class="panel-heading" ng-show="vm.user.networks.length < 1">Uh Oh!</div>
            <div class="panel-body" ng-show="vm.user.networks.length < 1">You have not added any items for section yet.  Please visit the <a ui-sref="profile">My Profile</a> page to add these items.</div>

            <div class="panel-heading" ng-show="vm.user.networks.length > 0">Social Media</div>
            <div class="panel-body" ng-show="vm.user.networks.length > 0">
              <table class="table table-bordered table-hover table-responsive table-condensed">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>URL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="network in vm.user.networks">
                    <td>{{network.name}}</td>
                    <td>{{network.url}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
          <button class="btn-warning" style="margin-top: 10px;" ng-click="vm.logSection(section)">debug</button>
        </div>
        <div class="hidden" style="padding: 20px; background: #eaeaea; border: 1px solid #aaa; border-radius: 4px; margin-top: 20px;">
          <h4>Plan</h4>
          <p>
            {{vm.plan.sections}}
          </p>
          <hr>
          <h4>Items</h4>
          <p>
            {{vm.templateSection.planSection.focusItems | json}}
          </p>
        </div>
      </div>
    </div> <!-- End Plan Edit Wrapper -->

    <div class="row footer-wrapper">
      <footer></footer>
    </div>
  </div>
</div>
