<uib-tabset>

	<uib-tab heading="HTML" active="true" disable="false" ng-if="vm.templateSection.is_editable">
		<form class="plan-form" ng-if="!vm.planSection.html">
				<text-angular ng-model="vm.templateSection.html"></text-angular>
				<button class="btn btn-seasons" ng-click="vm.saveSection(vm.templateSection)">Save</button>
		</form>
		<form class="plan-form" ng-if="vm.planSection.html">
				<text-angular ng-model="vm.planSection.html" required></text-angular>
				<button class="btn btn-seasons" ng-click="vm.saveSection(vm.planSection)">Save</button>
		</form>
	</uib-tab>


<!--  Placeholders for future updates <div ng-if="vm.templateSection.has_extras">

	<uib-tab heading="Nutraceuticals" active="false" disable="false" ng-if="vm.templateSection.has_extras">
		<form class="plan-form">
			<button class="btn btn-small btn-seasons">Add</button>
		</form>
	</uib-tab>

	<uib-tab heading="Predefined Content" active="false" disable="false" ng-if="vm.templateSection.has_extras">
		<form class="plan-form">
			<button class="btn btn-small btn-seasons">Add</button>
		</form>
	</uib-tab>

	<uib-tab heading="Prescriptions" active="false" disable="false" ng-if="vm.templateSection.has_extras">
		<form class="plan-form">
			<button class="btn btn-small btn-seasons">Add</button>
		</form>
	</uib-tab>

	<uib-tab heading="References" active="false" disable="false" ng-if="vm.templateSection.has_extras">
		<form class="plan-form">
			<button class="btn btn-small btn-seasons">Add</button>
		</form>
	</uib-tab>
 </div> -->
</uib-tabset>
