<navbar></navbar>
<div class="content-wrapper" >
  <div class="container content">
    <div class="row page-title">
      <div class="col-sm-12" style="padding: 0 50px;">
        <div class="page-header">
          <h1>{{vm.pageTitle}}</h1>
          <span class="subheader" ng-show="vm.plan.patient">{{vm.plan.patient.name.first}} {{vm.plan.patient.name.last}}'s Wellness Plan</span>
        </div>      
      </div>
    </div><!-- .page-title -->

    <div class="row patient-info" ng-show="vm.plan.patient">
      <div class="col-md-4 ">
        <h3>Patient Info</h3> 
        <span class="patient-info">Name: {{vm.plan.patient.name.first}}  {{vm.plan.patient.name.last}}</span> <br>
        <span class="patient-info">Date Of Birth: {{vm.plan.patient.dob}}</span>
        <hr>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-lg btn-seasons" ng-show="!vm.viewing" ng-click="vm.viewing=true">View Plan</button>
        <button class="btn btn-lg btn-seasons" ng-show="vm.viewing" ng-click="vm.viewing=false">Edit Plan</button>
      </div>
    </div>  <!-- End Patient Info -->
    
    <div class="row" id="plan-wrapper" ng-show="vm.viewings">
      <div class="section-wrapper" ng-repeat="section in vm.templateSections | orderBy:'order'">
        <div class="plan-page">
          <div class="plan-page-body" ng-bind-html="section.html"></div>  
        </div>
      </div>  
      <div class="controls" style="margin: 0 auto 30px auto; text-align: center;"> <a href="" ng-click="previousPage()">Prev</a> | <a href="" ng-click="nextPage()">Next</a></div>
    </div><!-- plan-wrapper -->
    <plan-preview ng-show="vm.viewing"></plan-preview>


    <div class="row" id="plan-edit-wrapper" ng-show="vm.plan.patient && !vm.viewing">
      <div class="sidebar">
        <ul>
          <li ng-repeat="section in vm.templateSections | orderBy:'order'">
            <a href="#" ng-class="{active : vm.activeSection === section}" ng-click="vm.activeSection = section">{{section.title}}</a>
          </li>
        </ul>
      </div>
      <div class="body">
        <div class="plan-page">
          <!-- <div ng-bind-html="vm.activeSection.html"></div> -->
          <text-angular ng-model="vm.currentSection.html"></text-angular>
            <input style="width: 40px; margin-right: 20px;" type="number" ng-model="vm.currentSection.order"></input><a href="#" class="btn btn-success" ng-click="vm.updateSection()">Update</a>
          <span ng-if="!vm.activeSection.html">This section has no content yet.</span>
        </div>
      </div>
    </div> <!-- End Plan Edit Wrapper -->

    <div class="area">
      <pre>
        {{vm.plan}}
      </pre>
      <button ng-click="vm.popPlan()">Populate</button>
    </div>
    
    <div class="row footer-wrapper">
      <footer></footer>
    </div>
  </div>
</div>