<navbar></navbar>
<div class="content-wrapper">
	<div class="container content">
		<div class="row">
			<div class="col-sm-12" style="padding: 0 50px;">
				<div class="page-header">
					<h1>{{pageTitle}}</h1>
					<p class="subheader">
						Please enter the required information below. Seasons Wellness is not responsible for errors made by the account holder.
					</p>
				</div>
			</div>
		</div>


		<div class="row" style="margin-bottom: 25px;">
			<div class="col-sm-12">
				<form class="form" name="infoForm" ng-submit="vm.updateInfo( infoForm )" novalidate>
					<div class="col-sm-3">
						<img ng-hide="vm.user.cover_image_url" src="http://www.placehold.it/250x323" alt="Upload your logo!" class="img-responsive" style="margin: 0 auto;">
						<img ng-show="vm.user.cover_image_url" ng-src="{{ vm.user.cover_image_url }}" alt="{{ vm.user.company }}" class="img-responsive" style="margin: 0 auto;">
						<div class="form-group">
							<label for="cover_image_url">Plan Cover URL</label>
							<input type="text" name="cover_image_url" id="cover_image_url" class="form-control" ng-model="vm.user.cover_image_url">
						</div>
					</div>
					<div class="col-sm-9">
						<div class="col-sm-6 col-lg-4">
							<div class="form-group">
								<label for="firstName">First Name</label>
								<input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstname" required />
								<p class="help-block" ng-show="infoForm.firstName.$touched && infoForm.firstName.$invalid">First Name is required.</p>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="form-group">
								<label for="lastName">Last Name</label>
								<input type="text" name="lastName" id="lastName" class="form-control" ng-model="vm.user.lastname" required />
								<p class="help-block" ng-show="infoForm.lastName.$touched && infoForm.lastName.$invalid">Last Name is required.</p>
							</div>
						</div>

						<div class="col-sm-12 col-lg-4">
							<div class="form-group">
								<label for="email">Email Address</label>
								<input type="text" name="email" id="email" class="form-control" ng-model="vm.user.email" required />
								<p class="help-block" ng-show="infoForm.email.$touched && infoForm.email.$invalid">Email Address is required.</p>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<label for="addr1">Address Line 1</label>

								<input type="text" name="addr1" id="addr1" class="form-control" ng-model="vm.user.address1" />
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="addr2">Address Line 2</label>

								<input type="text" name="addr2" id="addr2" class="form-control" ng-model="vm.user.address2" />
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="state">City</label>
								<input type="text" name="city" id="city" class="form-control" ng-model="vm.user.city" />
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label for="state">State</label>
								<input type="text" name="state" id="state" class="form-control" ng-model="vm.user.state" />
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label for="zip">Zip Code</label>
								<input type="text" name="zip" id="zip" class="form-control" ng-model="vm.user.zip" />
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="phone">Phone</label>
								<input type="text" name="phone" id="phone" class="form-control" ng-model="vm.user.phone" />
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="altPhone">Alternate Phone</label>
								<input type="text" name="altPhone" id="altPhone" class="form-control" ng-model="vm.user.alt_phone" />
							</div>
						</div>
						<div class="col-sm-12">
							<button class="btn btn-lg btn-primary pull-right" type="submit">Update</button>
						</div>

					</div>
				</form>
			</div>

			<div class="col-sm-12">
				<hr>
				<h3>Pharmacy List</h3>
				<div ng-show="vm.user.pharmacies.length < 1" class="panel panel-warning">
					<div class="panel-heading">
						<h5>You have not added any pharmacies.</h5>
					</div>
				</div>
				<form ng-submit="vm.addPharmacy(vm.newPharmacy)" class="form">
					<table class="table table-condensed table-hover table-bordered">
						<thead>
							<tr>
								<th>Name</th>
								<th>Phone</th>
								<th>Fax</th>
								<th>Email</th>
								<th>Contact</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pharmacy in vm.user.pharmacies">
								<td>{{pharmacy.name}}</td>
								<td>{{pharmacy.phone}}</td>
								<td>{{pharmacy.fax}}</td>
								<td>{{pharmacy.email}}</td>
								<td>{{pharmacy.contact}}</td>
								<td><i class="fa fa-trash trash" ng-click="vm.removePharmacy( pharmacy )"></i></td>
							</tr>
							<tr>
								<td>
									<input type="text" name="pharmacy_name" placeholder="Name" ng-model="vm.newPharmacy.name" class="form-control" required>
								</td>
								<td>
									<input type="text" name="pharmacy_phone" placeholder="Phone" ng-model="vm.newPharmacy.phone" class="form-control">
								</td>
								<td>
									<input type="text" name="pharmacy_fax" placeholder="Fax" ng-model="vm.newPharmacy.fax" class="form-control">
								</td>
								<td>
									<input type="text" name="pharmacy_email" placeholder="Email" ng-model="vm.newPharmacy.email" class="form-control">
								</td>
								<td>
									<input type="text" name="pharmacy_contact" placeholder="Contact" ng-model="vm.newPharmacy.contact" class="form-control">
								</td>
							</tr>
						</tbody>
					</table>
					<button class="btn btn-seasons pull-right" type="submit">Add Pharmacy</button>
				</form>
			</div>

			<div class="col-sm-12">
				<hr>
				<h3>Supplement Store</h3>
				<div ng-show="vm.user.stores.length < 1" class="panel panel-warning">
					<div class="panel-heading">
						<h5>You have not added any supplement stores yet.</h5>
					</div>
				</div>

				<form ng-submit="vm.addStore(vm.newStore)" class="form">
					<table class="table table-condensed table-hover table-bordered">
						<thead>
							<tr>
								<th>Name</th>
								<th>URL</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="store in vm.user.stores">
								<td>{{store.name}}</td>
								<td>{{store.url}}</td>
								<td><i class="fa fa-trash trash" ng-click="vm.removeStore( store )"></i></td>
							</tr>
							<tr>
								<td>
									<input type="text" name="store_name" placeholder="Name" ng-model="vm.newStore.name" class="form-control" required>
								</td>
								<td>
									<input type="text" name="store_url" placeholder="URL" ng-model="vm.newStore.url" class="form-control">
								</td>
				</form>
				</tbody>
				</table>
				<button class="btn btn-seasons pull-right" type="submit">Add Store</button>
				</form>
			</div>

			<div class="col-sm-12">
				<hr>
				<h3>Social Networks</h3>
				<div ng-show="vm.user.networks.length < 1" class="panel panel-warning">
					<div class="panel-heading">
						<h5>You have not added any social networks.</h5>
					</div>
				</div>
				<form ng-submit="vm.addNetwork(vm.newNetwork)" class="form">
					<table class="table table-condensed table-hover table-bordered">
						<thead>
							<tr>
								<th>Name</th>
								<th>URL</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="network in vm.user.networks">
								<td>{{ network.name }}</td>
								<td>{{ network.url }}</td>
								<td><i class="fa fa-trash trash" ng-click="vm.removeNetwork( network )"></i></td>
							</tr>
							<tr>
								<td>
									<input type="text" name="network_name" placeholder="Name" ng-model="vm.newNetwork.name" class="form-control" required>
								</td>
								<td>
									<input type="text" name="network_url" placeholder="URL" ng-model="vm.newNetwork.url" class="form-control">
								</td>
							</tr>
						</tbody>
					</table>
					<button class="btn btn-seasons pull-right" type="submit">Add Network</button>
				</form>
			</div>

			<div ng-if="true" class="col-sm-12">
				<h3>Update Password</h3>
				<form class="form" name="passwordForm" ng-submit="vm.changePassword( passwordForm )" novalidate>
					<div class="col-sm-4">
						<div class="form-group">
							<label>Current Password</label>

							<input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword" mongoose-error required />
							<p class="help-block" ng-show="passwordForm.password.$error.mongoose">
								{{ vm.errors.other }}
							</p>
						</div>

						<div class="form-group">
							<label>New Password</label>

							<input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword" ng-minlength="3" required />
							<p class="help-block" ng-show="( passwordForm.newPassword.$error.minlength || passwordForm.newPassword.$error.required ) && (passwordForm.newPassword.$dirty || vm.submitted)">
								Password must be at least 3 characters.
							</p>
						</div>

						<div class="form-group">
							<label>Confirm New Password</label>

							<input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" match="passwordForm.newPassword" ng-minlength="3" required="" />
							<p class="help-block" ng-show="passwordForm.confirmPassword.$error.match && vm.submitted">
								Passwords must match.
							</p>

						</div>

						<p class="help-block"> {{ vm.message }} </p>

						<button class="btn btn-lg btn-primary" type="submit">Save changes</button>
					</div>
				</form>
			</div>
		</div>

		<div class="row">
			<footer></footer>
		</div>
	</div>
</div>
